// Theme Colors
$background: #f8f9fa;
$background2: #212529;
$background3: #000000;
$white: #FFFFFF;
$card-background: #dee1e6;
$icon-background: #ffc107;
$text-color: #8f8f8f;

// Font
$font-sm: 400 1rem/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-md: 400 1.25rem/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-lg: bolder 1.25rem/1.2 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-xl: bolder 3.5rem/1.2 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Time
$time: 0.3s;

